.hc-card {
  @extend .mb-3 ;

  .card-header {
    padding: 0;
    position: relative;
    @extend .embed-responsive, .embed-responsive-16by9 ;

    & > a {
      @extend .embed-responsive-item ;
    }
  }

  .hc-card-category {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: rgba(#333, 0.9);
    @extend .py-1, .px-2, .m-0 ;
  }

}

@each $color, $value in $theme-colors {
  .hc-card-#{$color} .hc-card-category {
    background: rgba($value, 0.9);
  }
}

.hc-gradient-card {
  background-size: cover !important;
  background-position: center !important;
  text-shadow: 1px 1px 2px #000;
}
a.hc-gradient-card {
  opacity: 0.8;
}
a.hc-gradient-card:hover {
  opacity: 1;
  text-decoration: none !important;
}

.hc-card-columns-newsroom {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}
