$gray-600:    #868e96 !default;

// theme
$primary:     #ff6f5b !default;
$secondary:   #054173 !default;
$success:     #9bd63c !default;
$info:        #7ABFD7 !default;
$warning:     #f0ad4e !default;
$danger:      #f1463c !default;

// $body-bg:     #f5f7f8 !default;
$body-bg:     #fff !default;

// $body-color:  #212529 !default;
$link-color:  #E01A00 !default;

$enable-rounded: false !default;
$enable-responsive-font-sizes: true !default;

$font-size-base: 1.1rem !default;
$font-family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
$line-height-base: 1.7 !default;

$nav-tabs-border-color:                #ddd !default;
$nav-tabs-link-active-color:           $secondary !default;
$nav-tabs-link-active-bg:              #fff !default;
$nav-tabs-link-active-border-color:    #ddd !default;

// accessible colors
$accessible-color-info-bg: #2A2A2A;
// $accessible-color-info-bg: theme-color("secondary");

$breadcrumb-bg:                 none !default;
$breadcrumb-divider:            "\203A" !default;
$breadcrumb-divider-color:      $gray-600 !default;
$breadcrumb-active-color:       $accessible-color-info-bg !default;
$breadcrumb-padding-x:          0 !default;
