@import 'fonts';

/*!
* Hillsborough County HTML Wrapper
*/
@import 'custom';
@import '~bootstrap/scss/bootstrap';

// global
@import 'mixins/gradients';
@import 'print';

// components
@import 'buttons';
@import 'cards';
@import 'jumbotron';
@import 'links';
@import 'navbar';
@import 'navigation';
@import 'rte';
@import 'tables';
@import 'footer';

#hc-main,
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: $spacer;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
}

.text-shadow {
  text-shadow: #000 2px 2px 3px;
}

.bg-light hr {
  background: #ccc;
}
